<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionapp89286.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0bbc6a60-4783-4efb-b92e-2bc8eb13633e/resourceGroups/ODL-serverless-architecture-89286/providers/Microsoft.Web/sites/TollBoothFunctionApp89286</ResourceId>
    <UserName>$TollBoothFunctionApp89286</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionapp89286.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>